*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    gap: 10px;
}
#app > div{
    box-sizing: border-box;
    max-width: 286px;
}
.btn-primary{
    width: 50%;
}